In [1]:
a = "Pakistan"
print (a)
print(type(a))

Pakistan
<class 'str'>

In [2]:
a = "PAkiStan"
print(a.capitalize)

<built-in method capitalize of str object at 0x00000274B91A87F0>

In [3]:
a = "PAKsitAn"
a.capitalize()

'Paksitan'

In [4]:
a.casefold()

'paksitan'

In [8]:
a.encode ()

b'Pakistan'

In [9]:
a.lower()

'pakistan'

In [10]:
a.istitle()

True

In [11]:
a.title()

'Pakistan'

In [12]:
a.upper()

'PAKISTAN'

In [13]:
a.swapcase()

'pAKISTAN'

In [1]:
a.center??

Object `a.center` not found.

In [2]:
a = "PakisTaN"
print(a)

PakisTaN

In [3]:
abc = """
Saylani welfare Trust
City : Karachi
Country : Pakistan
"""
print(abc)

Saylani welfare Trust
City : Karachi
Country : Pakistan

In [4]:
abc ='''
Saylani welfare Trust
City : Karachi
Country : Pakistan
'''
print(abc)

Saylani welfare Trust
City : Karachi
Country : Pakistan

In [5]:
abc = """
***********PIAIC***********
Saylani Welfare Trust
Name : Muhammad Adeel
fathers Name : Muhammad Bashir
country : Pakistan
"""
print(abc.capitalize)

<built-in method capitalize of str object at 0x0000015B05C05F50>

In [6]:
abc.capitalize

In [7]:
abc.capitalize()

"\n***********piaic***********\nsaylani welfare trust\nname : muhammad adeel\nfather's name : muhammad bashir\ncountry : pakistan\n"

In [8]:
car = "audi"
car.capitalize() =='Audi'

True

In [9]:
car.lower() =='Audi'

False

In [13]:
name = "Muhammad Adeel"
father_name = "Muhammad Bashir"
roll_no = 124

abc = """
*******PIAIC********
Saylani Welfer Trust
Name: {}
Father's Name: {}
Roll No: {}
"""

print(abc.format(name,father_name, roll_no))

*******PIAIC********
Saylani Welfer Trust
Name: Muhammad Adeel
Father's Name: Muhammad Bashir
Roll No: 124

In [18]:
First_Name = input("Enter your first name")
Last_Name = input("Enter your last Name")
fathers_Name = input("Enter your Father's Name")
Roll_No = input("Enter your Roll no")

abc = """
*******PIAIC********
Saylani Welfer Trust
First_Name: {muhammad}
Last_Name: {adeel}
Fathers_Name: {bashir}
Roll_No: {2347}
"""

print(abc.format(First_Name, last_Name, fathers_Name , Roll_No))

Enter your first namemuhammad
Enter your last Nameadeel
Enter your Father's Namemuhammad bashir
Enter your Roll no2347

NameError: name 'last_Name' is not defined